body {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    font-family: sans-serif;
    color: white;
  }

  .contenedor{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  main {
    max-width: 100%;
    margin: 20px auto;
    display: flex;
    align-items: center;
  }
  
  .section1 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 10px 10px 10px;
    border-radius: 25px;
    width: 100%;
  }
  
  .titulo-blanco{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .titulo-rojo{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
  .titulo-verde{
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
  
  h1 {
    text-align: center;
  }
  
  .botones {
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: rgb(90, 18, 18);
    font-weight: bold;
    border-radius: 1px;
  }
  .botones:hover{
    cursor: pointer;
    background-color: #67a17bbb;
    border-color: transparent;
  }
  .section2{
    background-color: rgba(255,255,255,0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    height: auto;
    padding: 0 20px;
    border-top-right-radius: 20px;
  }
  .estadisticas{
    border: 1px solid rgb(41, 29, 29);
    min-height: 109px;
    border-radius: 35px;
    padding: 8px 26px;  
    box-sizing: border-box;
    color: rgb(74, 26, 26);
  }
  .boton-reinicio{
    width: 120px;
    height: 40px;
  }
  .boton-reinicio:hover{
    cursor: pointer;
  }
  
  footer{
    text-align: center;
  
  }
  a{
    text-decoration: none;
  }
  
  @media screen and (max-width: 800px){
  .contenedor{
    width: 100%;
  }
  .main{
    width: 100%;
  }
  .section2{
    width: 100%;
  }
}