body {
  background-color: #da9680;
  margin: 0;
  padding: 0;
  font-family: 'Pixelify Sans';
  /* overflow-x: hidden; */
}

header {
  /* width: 100%; */
  text-align: center;
}

header div {
  width: calc(100% - 40px);
  margin: 70px auto;
  background-color: rgb(219, 116, 116);
  padding: 20px;
  border-radius: 14px;
}

main {
  /* width: 100%; */
  justify-content: center;
  display: flex;
}

main div {
  width: 20%;
  padding: 70px;
  margin: 40px auto;
  background-color: rgb(219, 116, 116);
  border-radius: 12px;
  text-align: center;
}

@media only screen and (max-width: 767px){
    header div{
        width: calc(100% - 40px);
    }
    main{
        display: inline-block;
        width: 100%;
    }
    main div{
        padding: 80px;
        margin-top: -20px;
    }
}