body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html {
  --s: 50px;
  --c: #191b22;
  --_s: calc(2 * var(--s)) calc(2 * var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%, #20222a 68% 70%, #0000 72%;
  background: radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s) /
      var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s) / var(--_s),
    radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0 / var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0 / var(--_s),
    repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0 / var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s) / 2) / var(--s) var(--s) var(--c);
  background-attachment: fixed;
}

.header__contenedor{
    width: 45%;
    min-height: 15vh;
    padding: 16px;
    margin: 0px auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(7, 1fr );
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "tareas tareas papelera hora hora hora tema"
    "tareas tareas . . . . borrarTodos"
    "tareas tareas . . . . borrarHechos"
    ;
    /* background: rgba(35, 117, 104, 0.24); */
  background-color: rgba(0, 0, 0, 0.288);
    color: #fff;
    border: 5px solid #fff;
    border-bottom: none;
    border-radius: 13px;
}

.header__contenedor-tema_rojo {
    background: rgba(255, 0, 0, 0.247);
    border: 5px solid rgb(51, 255, 204);
    border-bottom: none;
}

.header__contenedor-tareas{
    /* grid-column: 1 / span 2;
    grid-row: 1 / span 3; */
    grid-area: tareas;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__contenedor-papelera{
    justify-self: center;
    align-self: center;
    grid-area: papelera;
}

.header__contenedor-papelera:hover{
    cursor: pointer;
}

.header__contenedor-hora_actual{
    /* grid-column: 4 / span 3; */
    justify-self: center;
    align-self: center;
    grid-area: hora;
}

.header__contenedor-hora_actual{
    cursor: default;
}

.header__contenedor-cambiar_tema{
    /* background-color: rgba(209, 221, 215, 0.205); */
    grid-area: tema;
    justify-self: start;
    align-self: center;
}
.header__contenedor-cambiar_tema{
    cursor: pointer;
}

.header__contenedor-borrar_todos{
    /* grid-column: span 2; */
    grid-area: borrarTodos;
    justify-self: flex-end;
    align-self: center;
}
.header__contenedor-borrar_todos:hover{
    cursor: pointer;
}

.header__contenedor-borrar_hechos{
    grid-area: borrarHechos;
    justify-self: end;
    align-self: end;
    /* border-bottom: 1px solid rgb(51, 255, 204); */
}
.header__contenedor-borrar_hechos{
    cursor: pointer;
}

.contenedor {
  width: 60%;
  min-height: 250px;
  max-height: 700px;
  margin: 0px auto;
  /* border: 3px solid rgb(51, 255, 204); */
  border: 5px solid #fff;
  background-color: rgba(0, 0, 0, 0.288);
  padding: 45px;
  overflow-y: auto;
  border-radius: 7px;
}

.contenedor-tema_rojo {
    background: rgba(255, 0, 0, 0.247);
    border: 5px solid rgb(51, 255, 204);

}

.contenedor__texto {
  text-align: center;
  color: #fff;
}

.agregados {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.agregados__input{
    margin: 25px;
    padding: 15px;
    color: #fff;
    background: rgba(0, 0, 0, 0.484);
    outline: none;
    border: none;
    /* box-shadow: inset 0 0 0 1px rgb(51, 255, 204); */
}
.agregados__input:focus{
    box-shadow: inset 0 0 0 1px rgb(51, 255, 204);

}

.agregados__agregado{
    width: 50%;
    height: 7vh;
    align-self: center;
    color: #ffffff;
    font-size: 19px;
    background: #86c8a5;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.agregados__agregado:hover{
    cursor: pointer;
    background: rgb(64, 205, 170);
}

.agregados__agregar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 8vh;
    margin: 20px auto;
    padding: 17px;
    background: rgba(11, 212, 178, 0.098);
    color: #fff;
    border: 3px solid #fff;
    border-radius: 18px;
}
.agregados__agregar:hover{
    border: 3px solid rgb(9 177 135);
    background: rgba(11, 212, 178, 0.18);

}

.agregados__aviso{
   width: 50%;
    margin: 0 auto;
    color: #b71212;
}

.agregados__realizado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    height: 8vh;
    margin: 20px auto;
    padding: 17px;
    background-color: rgba(69, 197, 52, 0.247);
    color: #28ff8c;
    border: 3px solid #000000;
    border-radius: 30px;
}

.agregados__realizado:hover{
    background-color: rgba(39, 176, 21, 0.247);
    border: 3px solid rgb(9 177 135);
}

.agregados__parrafo{
    color: #46fc9b;
    text-transform: uppercase;
}

.agregados__parrafo--realizado{
    text-decoration: line-through;
    color: #000;
    text-transform: lowercase;
}

.agregados__iconos{
    width: 30%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin: 6px;
}

.agregados__icono{
    background-color: #191b22;
    border-radius: 10px;
    color: #23bd87;
    border: 3px solid #fff;
    padding: 10px;
    margin: 5px;
}
.agregados__icono:hover{
    background-color: #000;
    cursor: pointer;
    color: #28ff8c;
    border: 3px solid #23bd87;
}
.agregados__icono--select{
    border: 3px solid #000;
}

.agregados__input--modificar{
    background: rgba(0, 0, 0, 0.484);
    outline: none;
    border: 0;
    border-radius: 12px;
    width: 60%;
    height: 90%;
    color: #fff;
    text-align: center;
}


@media only screen and (max-width: 767px){
    .agregados{
        width: 100%;
        margin: 30px auto;
    }
    
    .agregados__input{
        margin: 25px auto;
    }

    .agregados__agregar{
        width: 85%;
        font-size: .5em;
    }

    .agregados__iconos{
        width: 50%;
        padding: 10px;
    }
}