*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #e6e5e5;
}

main > header{
    display: flex;
    justify-content: flex-end;
}

.header__cont{
    text-align: center;
    width: 85%;
    padding: 15px;
    border-bottom: 2px solid #51C1A7;
    margin-bottom: -2px;
    background: #131313;
    color: #fff;
}

.sidebar{
    width: 15%;
    height: 100vh;
    margin-top: -67px;
    text-align: center;
    background: #181818;
    color: #fff;
}

.sidebar__h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 12%;
}

.sidebar__img{
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
    height: 12%;
}

.sidebar__cont{
   height: 88%;
   padding: 20px;
}

.cont-proyectos__btn-crear{
    margin-bottom: 20px;
    background: #272727;
    padding: 4px;
    color: #51C1A7;
    border: 2px solid #51C1A7;
    border-radius: 3px;
}

.cont-proyectos__btn-crear:hover{
    cursor: pointer;
    background: #444444;
}

.sidebar__cont-proyectos{
    display: flex;
    flex-direction: column;
    max-height: 90px;
    font-size: 15px;
    padding: 10px;
    background: #272727;
    border-radius: 6px;
    box-shadow: 5px 5px #272727a9;
    margin-top: 15px;
}

.cont-proyectos__input{
    margin: 10px;
    width: 90%;
    align-self: center;
    outline: none;
    box-shadow: 1px 1px 7px #51C1A7;
    background: #444444; 
    color: #fff;
    border: 1.5px solid #51c1a7a4;
    border-radius: 3px;
    transition: 0.3s;
}

.cont-proyectos__input::placeholder{
    color: #ffffffb8;
}

.cont-proyectos__input:focus{
    box-shadow: 1px 1px 16px #51C1A7;
}

.sidebar__proyecto{
    text-align: left;
    font-size: 16px;
    margin: 4px;
    border-bottom: 1px solid #272727;
}

