body {
    background: rgb(138,13,121);
background: radial-gradient(circle, rgba(138,13,121,1) 37%, rgba(164,27,198,1) 57%);    
    font-family: sans-serif;
    color: white;
  }
  
  main {
    width: 730px;
    margin: 20px auto;
    display: flex;
    align-items: center;
  }
  
  .section1 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 10px 10px 10px;
    border-radius: 25px;
  }
  

  .titulo-blanco{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .titulo-rojo{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
  .titulo-verde{
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
  
  h1 {
    text-align: center;
  }
  
  .botones {
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: rgb(90, 18, 18);
    font-weight: bold;
    border-radius: 20px;
    border-color: #740064;
  }
  .botones:hover{
    cursor: pointer;
    /* background-color: #67a17bbb; */
    border-color: transparent;
  }
  .section2{
    background-color: rgba(255,255,255,0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 300px;
    height: 460px;
    padding: 0 20px;
    border-top-right-radius: 20px;
  }
  .estadisticas{
    border: 1px solid rgb(41, 29, 29);
    min-height: 109px;
    border-radius: 35px;
    padding: 8px 26px;  
    box-sizing: border-box;
    color: rgb(74, 26, 26);
  }
  .boton-reinicio{
    width: 120px;
    height: 40px;
  }
  .boton-reinicio:hover{
    cursor: pointer;
  }
  
  footer{
    text-align: center;
  
  }
  a{
    text-decoration: none;
  }
  
  img{
    width: 80%;
  }