body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div__pantalla, .contenedor {
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  width: 60%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  background: rgb(126, 184, 255);
}

.div__pantalla {
    height: 2vh;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  .pantalla-texto {
  font-size: 40px;
}

.contenedor {
  margin: 10px auto;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.contenedor > * {
    margin: 4px;
    border-radius: 6px;
}

.contenedor > button > svg {
  pointer-events: none;
}

.boton__resultado {
    grid-column: 4;
    grid-row: 4 / span 2 
}